<div class="row">
    <div class="col-md-6 offset-3 text-center">
        <div class="w-100 p-3">
            <h1 class="text-muted">You shouldn't be here, try looking somewhere else :)</h1>
        </div>
        <div class="mb-3">
            <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">Home Page</a>
        </div>
    </div>
</div>